body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#container {
    margin: 30px auto;
    width: 960px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.cell {
    border: 1px solid black;
    flex: 1;

}

.active {
    background-color: black;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}